@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800;900&display=swap");
.box-confianza {

  font-family: "League Spartan", system-ui, sans-serif;
  margin: 35px 0 35px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.box-confianza h1 {
  background-color: black;
  margin-bottom: 25px;
  color: white;
  width: 50%;
  font-size: 35px;
  border-radius: 20px;
  text-align: center;
  padding: 6px;
}

.flex-container {

  
  width: 95%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  padding: 3em 1em 3em 1em;
  background: linear-gradient(90deg, rgb(3, 34, 170) 0%, #3b83bd 100%, rgba(255,255,255,1) 100%);
  border-radius: 25px;
  
}
.flex-container .flex-item {
  width: 70px;
  margin: 25px;
  border-radius: 2px;
  padding: 4.5em 5em;
  position: relative;
  min-height: 260px;
  border-radius:5px;
  }
.flex-container .flex-item:focus {
        box-shadow: 0 0 3pt 2pt red;
    }
.flex-container .flex-item a {

  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
  -webkit-transition: 600ms ease;
  transition: 600ms ease;
  border-radius: 0px;
}
.flex-container .flex-item a span {
  -webkit-transform: translateZ(50px) scale(0.7);
          transform: translateZ(50px) scale(0.7);
}

.tilt {
  box-shadow: 0 20px 30px -13px rgba(0, 0, 0, 0.7);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
          transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
}
.tilt:hover {
  box-shadow: 0 40px 70px -15px rgba(0, 0, 0, 0.7);
}

.bg-one {
  background: linear-gradient(45deg, #000000, #9889a7);
}

.bg-two {
  background: linear-gradient(45deg, #a09f9f, #383036);
}

.bg-three {
  background: linear-gradient(45deg, #9889a7, #000000);
}

.flex-item .text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
  font-weight:800;
  font-family:Courier;
  bottom:20px;
}

.flex-item .text h2 {
  border: solid 3px white;
  border-radius: 20px;
  padding: 10px;
  font-size: 25px;
  font-weight: 1000;
}

.flex-item .text ul { 

  list-style: none;
  position: relative;
  margin-top: 20px;

}

.flex-item .text ul li {
 
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 15px 0 15px 0;
}

.flex-item .text ul li img {

  margin-right: 5px;
  width: 30px;
  height: 30px;
}

.flex-item .text ul li p {
  font-size: 19px;
}

@media (min-width: 350px) AND (max-width: 449px) {
  .box-confianza h1 {
    font-size: 25px;
    width: 65%;
  }

  .flex-container .flex-item {
    width: 50px;
    margin-top: 50px;
  }

  .flex-item .text h2 {
    transform: scale(.9);
  }
}

@media (min-width: 450px) AND (max-width: 650px)  {
  .flex-container .flex-item {
    width: 60px;
    margin-top: 50px;
  }

  .flex-item .text h2 {
    transform: scale(.95);
  }
}

@media (min-width: 651px) AND (max-width: 901px) {
  .flex-container .flex-item {

    margin-top: 50px;
  }
}