@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;

}

.container-index,
.container-gallery,
.container-servicios,
.container-contacto,
body {
 animation: aparecer .5s ease-in;
}

main {
  position: relative;
}

.container-header {

    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgb(3, 34, 170) 0%, #3b83bd 100%, rgba(255,255,255,1) 100%);

}

.container-header .box-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-header .box-logo img {
    margin-top: 35px;
    border-radius: 25px;
    width: 180px;
    height: 120px;
    box-shadow: 1px 9px 20px 8px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 1px 9px 20px 8px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 1px 9px 20px 8px rgba(255, 255, 255, 0.75);
}

.container-header .box-logo h1 {

    margin-top: 10px;
    box-sizing: border-box;
    color: white;
    padding: 2%;
    text-shadow: 6px 6px 9px rgba(255,255,255,0.6);
    transform: scale(1.4);
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;

}

.wp-active {
  display: inherit;
  animation: aparecer 1s ease-in;
}

.wp-inactive {
  display: none;
}

.wp-float {
  z-index: 999;
  position: fixed;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  bottom: 30px;
  right: 30px;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}
.wp-float:hover {
  background-color: #2bfc77;
  transition: all .5s;
}
.fa-whatsapp {
  font-size: 60px;
}

.container-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-presentation {
    margin-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-presentation .card {
    font-family: "Fira Sans", sans-serif;
    display: flex;
    align-items: center;
    width: 75vw;
    max-width: 650px;
    padding: 50px 30px 50px 20px;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgb(3, 34, 170) 0%, #3b83bd 100%, rgba(131,131,131,1) 100%);

    border-radius: 24px;
    color: white;


  }
  
  .card-presentation .card img {
    max-width: 280px;
    width: 28vw;
    height: 300px;
    object-fit: cover;
    margin-left: -60px;
    margin-right: 30px;
    border-radius: inherit;
    box-shadow: 0 60px 40px rgb(0 0 0 / 8%);

    
  }

  .card-presentation .card h2 {
    font-size: 3rem;
    margin-right: 30px;
    color: white;
    filter: blur(0);
    display: inline;
    padding: 5px;
    text-shadow: 6px 6px 9px rgba(255,255,255,0.6);
    
    
  }
  
  .card-presentation .card h3 {
    font-size: 2rem;
    font-weight: 400;
    color: white

  }
  
  .card-presentation .card p {
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    margin-bottom: 24px;

  }
  
  .card-presentation .card button {
    width: 100%;
    border: 0;
    background: black;
    color: #f8f8f8;
    font-family: inherit;
    padding: 16px 26px;
    font-size: 16px;
    border-radius: 40px;
  }
  .card-presentation .card .box-icos {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 60px;
    transform: translate(41px, 17px);
  }


  .card-presentation .card .box-icos img {
    cursor: pointer;
    width: 45px;
    height: 45px;
    
  }
  .card-presentation .card .box-icos img:hover {
    -webkit-box-shadow: 0px 0px 5px 4px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 5px 4px rgba(255,255,255,1);
    box-shadow: 0px 0px 5px 4px rgba(255,255,255,1);
    border-radius: 10px;
    transition: all .7s;
    background-color: white;
  }
  

.spinner {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #3b83bd;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
      mask: var(--_m);
  -webkit-mask-composite: source-out;
      mask-composite: subtract;
  animation: s3 1s infinite linear;
  }

  @keyframes s3 {to{transform: rotate(1turn)}}


  @media (width <= 740px) {
    .card-presentation .card {
    
      margin: 0 40px;
      margin-top: 70px;
      padding-left: 50px;
      padding-right: 50px;
      width: 100%;
      text-align: center;
      flex-direction: column;
    }
  
    .card-presentation .card h2 {
      margin-right: 0;
      font-size: 2.5rem;
    }
  
    .card-presentation .card img {
      margin: -100px 0 30px 0;
      width: 100%;
      max-width: 1000px;
    }
    .card-presentation .card {
        padding-bottom: 80px;
    }

  }



@media (min-width:350px) AND (max-width:600px) {
    .container-header .box-logo img {
        transform: scale(.9);
    }

    .container-header .box-logo h1 {
        margin-top: 10px;
        font-size: 2rem;
        padding: 0;
        width: 200px;
        height: 90px;
        transform: translateX(10px);
    }

    .wp-float {
      transform: scale(.7);
    }

}

@media (min-width:601px) AND (max-width:850px) {
  .wp-float {
    transform: scale(.8);
  }
}

@media (max-width:740px) {
      .card-presentation .card .box-icos {
        transform: translateY(85px);
    }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



