

  
header button {
    border: none;
    border-radius: 20px;
    background: transparent;
    cursor: pointer;
}

header button:hover {
    -webkit-box-shadow: 0px 0px 5px 4px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 5px 4px rgba(255,255,255,1);
    box-shadow: 0px 0px 5px 4px rgba(255,255,255,1);
background-color: #07030a;
transition: all 1s;

}
  
.container-header .burger,
.container-header .menu {
    position: fixed;
}
  
.container-header .burger {
    z-index: 4;
    top: 10px;
    left: 10px;
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    background-image: url("../img/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  body.open .burger {
    background-image: url("../img/close.svg");
  }
  
.container-header .background {
    position: fixed;
    z-index: 2;
    top: 44px;
    left: 44px;
    aspect-ratio: 1 / 1;
    translate: -50% -50%;
    height: 88px;
    background: #07030a;
    border-radius: 50%;
    opacity: 0;
    transition: 0.6s;
  }
  
  body.open .container-header .background {
    height: 300vh;
    opacity: 0.8;
  }
  
  .container-header .menu {
    z-index: 3;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.05s;
  }
  
  .container-header .menu nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 100px;
  }
  
  body.open .container-header .menu {
    opacity: 1;
    visibility: visible;
  }
  
  body .container-header .menu nav:hover > a {
    opacity: 0.25;
  }
  
  body .container-header .menu nav > a:hover {
    opacity: 1;
    translate: 8px 0;
  }
  
  .container-header .menu a {
    position: relative;
    color: #f9f9f9;
    font-size: 32px;
    font-family: "Euclid Circular A";
    padding: 20px 0 20px 20px;
    text-decoration: none;
    opacity: 0;
    cursor: pointer;
    transition: 0.4s;
  }
  
  .container-header .menu a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -26px;
    translate: 0 -50%;
    margin-top: 2px;
    width: 10px;
    height: 10px;
    border-top: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    opacity: 0;
    rotate: 45deg;
    transition: 0.3s;
  }
  
  .container-header .menu a:hover::after {
    opacity: 1;
  }
  
  @keyframes appear {
    0% {
      opacity: 0;
      translate: -30px 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  body.open .container-header .menu a {
    opacity: 1;
    animation: appear 0.35s backwards;
  }
  
  @media (min-width:350px) AND (max-width:600px) {

    .container-header .menu a {
        transform: scale(.9);
    }
  }